:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  margin-bottom: 15px;
}

.title h1 {
  font-size: 100px;
}

.title h2 {
  font-size: 40px;
}

.input input {
  width: 290px;
  height: 40px;
  margin-bottom: 70px;
}

.input input:hover {
  border: 2px solid blue;
}

.input button {
  width: 80px;
  height: 40px;
}

@media (max-width: 1023px) {
  .main_box {
    background-color: #282e40;
  }

  .title h1 {
    color: white;
    font-size: 70px;
  }

  .title h2 {
    color: white;
    font-size: 30px;
  }

  .input input {
    width: 200px;
    height: 40px;
    margin-bottom: 70px;
  }
  .input button {
    width: 70px;
    height: 40px;
  }
}

@media (max-width: 767px) {
}
